html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

a, a:visited, a:active, a:hover 
{
    text-decoration:none;
}

html
{
    height:100%;
}

body 
{
    background-color:#F7F7F2;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:80%;
    line-height:1.4em; 
    overflow: scroll;
    width:100%;
    height:100%;
}

#page 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;    
}


#h_bgd 
{
    width:100%;
    height:30px; 
    background:#b5e347;
	background:-moz-linear-gradient(top, #b5e347 0%, #85bd11 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5e347), color-stop(100%,#85bd11));
	background:-webkit-linear-gradient(top, #b5e347 0%,#85bd11 100%);
	background:-o-linear-gradient(top, #b5e347 0%,#85bd11 100%);
	background:-ms-linear-gradient(top, #b5e347 0%,#85bd11 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5e347', endColorstr='#85bd11',GradientType=0 );
	background:linear-gradient(top, #b5e347 0%,#85bd11 100%);
}

#title 
{
	margin:5px 0 0 10px;
	display:block; 
	width:auto; 
	float:left;
}
	#title a 
	{
		float:left;
		color:#fefefe;
		font-size:1.3em;
		font-weight:bold;
		cursor:pointer;
		text-shadow:1px 1px 1px #557E01;
		filter:dropshadow(color=#557E01, offx=1, offy=1);
	}
		#title a:hover
		{
			color:#fff;
			text-shadow:1px 1px 1px #777;
			filter:dropshadow(color=#777, offx=1, offy=1);
		}
	#title #subtitle
	{
		padding-top:2px;
		margin-left:10px;
		font-style:italic;
		color:#555;
		font-size:0.9em;
		float:right;
	}

#main 
{
    width:20%;
	float:left;
}
	#main h1
	{
		margin:15px 0 5px 5px;
		font-weight:bold;
	}

#map
{
	cursor:crosshair;
	float:left;
	width:80%;
}     